{% extends "layout.html.twig" %}

{% block content %}
    <header>
        <h1>Telemetry for my Applications</h1>
        <hr/>
        {% for application in applications %}
            <h2><a href="{{ path_for('application_view', {'id': application.getId}) }}">{{ application.getName }}</a></h2>
            <hr/>
        {% else %}
            No applications have been found.
        {% endfor %}
    </header>

    <footer>
        <ul class="icons">
            <li><a href="http://famoser.ch" class="fa-link">famoser.ch</a></li>
        </ul>
    </footer>
{% endblock %}
