@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600");

body {
    height: 100%;
    width: 100%;
}

.table {
    width: 100%;
}

.table th,
.table td,
.small {
    text-align: left;
    text-transform: none;
    font-family: calibri, Sans-Serif;
    letter-spacing: normal;
}

.small {
    text-align: center;
    font-size: 12px;
}

b {
    font-weight: 600;
}